<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark light">
  {{- with .Params.robots }}
  <meta name="robots" content="{{ . }}">
  {{- end }}
  <title>{{- if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end -}}</title>
  {{- $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint "sha384" }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{- range .AlternativeOutputFormats }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{- end }}
  <script>
  (function(){
    var t=localStorage.getItem('theme')||(matchMedia('(prefers-color-scheme:light)').matches?'light':'dark');
    document.documentElement.setAttribute('data-theme',t);
  })();
  </script>
  {{- partial "head-extra.html" . -}}
</head>
