---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts tagged "#{{page.tag}}"</h1>

  <ul class="post-list">
    {% for post in page.posts %}
     {% if post.publish %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <p>
              {{ post.content | split:'<!--excerpt-->' | first }}
        </p>

        <p><a href="{{ post.url | remove:'.html' }}">Read more...</a></p>
      </li>
     {% endif %}
    {% endfor %}
  </ul>

</div>
